@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background: rgb(2,0,36) ;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,63,112,1) 35%, rgba(0,212,255,1) 100%) no-repeat;
    display: flex;
}

.box {
    background-color: #fff;
    height: 300px;
    width: 600px;
    box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
    margin: auto;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form {
        display: flex;
        .text-bar{
            width: 350px;
            height: 40px;
            border-radius: 10px;
            border: solid #000 1px;
            padding: 10px;
        }
        button {
            height: 40px;
            padding: 10px;
            background-color: rgba(0,212,255,1);
            border-radius: 10px;
            border: none;
            &:hover {
                transition: .5s;
                background-color: rgba(0, 213, 255, 0.562);
                box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04), 0 3px 6px 0 rgba(25, 32, 36, 0.16);
            }
        }
    }
    .uuid {
        margin-top: 20px;
    }
}



